
@import "Sass/Base/reset"
@import "Sass/Base/typography"

@import "Sass/Utils/variables"
@import "Sass/Utils/mixins"

@import "Sass/Layout/header"
@import "Sass/Layout/form"
@import "Sass/Layout/footer"

@import "Sass/Composants/button"



/*Section localisation*/
.localisation
  background-color: $color-fond2



/*Section Présentation*/
/*decouverte*/
.decouverte
  display: flex
  flex-wrap: wrap
  padding: 40px 0 50px 0
  background-color: $color-fond1
  & h1
    font-weight: 700
    font-size: 1.5rem
    text-align: center
    margin: auto
    padding: 0 50px 10px 50px
  & .sous-titre
    text-align: center
    margin: auto
    padding: 0 30px 30px 30px
    font-weight: 100
    font-size: 1.1rem
  & a
    margin: auto


  

/*Fonction*/
.fonction
  padding: 0 20px 50px 30px
  & h2
    padding: 50px 0px 25px 0
  & a
    text-decoration: none
    &:hover
      background-color: rgba(147, 86, 220, 0.3)


      
.fa-list-ul
  font-size: 1.3rem
  opacity: 0.5
  color: black

.fa-store
  font-size: 1rem
  color: rgba(0,0,0,0.5)
  &:hover
    color: $color-primary

/*Restaurants*/
.menus
  background-color: $color-fond1
  padding: 0 0 50px 0
  & h2
    padding: 50px 0px 25px 20px

.art-resto
  background-color: white
  margin: 0 1.3rem 1.3rem 1.3rem
  border-radius: 20px
  @include box-shadow
  & a
    text-decoration: none

.fig-resto
  display: flex
  flex-direction: column
  & .img-resto
    object-fit: cover
    height: 11rem
    border-radius: 15px 15px 0 0

.caption-resto
  padding: 1rem

.fig-menu
  display: flex
  & .fa-heart
    font-size: 1.5rem
    font-weight: 100
    margin: 0.3rem 0.5rem 0 auto
          

/*Footer*/


 
