@charset "UTF-8";
*, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, p, .fas, .far {
  color: black;
}

/*Typo Pages menus*/
.titre-resto h2 {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  font-weight: 100;
  font-style: italic;
}

.titre-p {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: start;
  padding-left: 5px;
  padding-bottom: 5px;
}

.soustitre-p {
  text-align: start;
  font-size: 0.95rem;
  font-weight: 300;
  padding-left: 5px;
  display: flex;
}
.soustitre-p strong {
  margin-left: auto;
}

/*Header*/
header {
  display: flex;
  align-items: baseline;
  z-index: 1;
  position: relative;
  background-color: white;
}
header #ohmyfood {
  width: 10rem;
  margin: auto;
  padding: 20px 0 15px 0;
}

.fa-arrow-left {
  margin: 1.5rem 0 0 1.5rem;
  font-size: 1.2rem;
}

/*Page Accueil*/
/*Section localisation*/
form {
  display: flex;
}
form .recherche {
  margin: auto;
}
form .recherche input {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1rem;
  background-color: #eaeaea;
}
form .recherche ::placeholder {
  margin: 20px O 20px 0;
  color: black;
  opacity: 0.6;
}

.localisation {
  background-color: #eaeaea;
  box-shadow: inset 0px 4px 4px -3px rgba(53, 53, 53, 0.29);
  height: 3rem;
}

/*Section présentation*/
/*découverte*/
.decouverte {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 50px 0;
  background-color: #f6f6f6;
}
.decouverte div {
  margin: auto;
}
.decouverte h1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  padding: 0 50px 10px 50px;
}
.decouverte .sous-titre {
  text-align: center;
  margin: auto;
  padding: 0 30px 30px 30px;
  font-weight: 100;
  font-size: 1.1rem;
}
.decouverte a {
  margin: auto;
}

/*fonctionnement*/
.fonction {
  padding: 0 20px 50px 30px;
}
.fonction h2 {
  padding: 50px 0px 25px 0;
}
.fonction a {
  text-decoration: none;
}
.fonction a:hover {
  background-color: rgba(147, 86, 220, 0.3);
}

.fa-list-ul {
  font-size: 1.3rem;
  opacity: 0.5;
  color: black;
}

.fa-store {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.fa-store:hover {
  color: #9356DC;
}

/*Section restaurants*/
.menus {
  background-color: #f6f6f6;
  padding: 0 0 50px 0;
}
.menus h2 {
  padding: 50px 0px 25px 20px;
}

.art-resto {
  background-color: white;
  margin: 0 1.3rem 1.3rem 1.3rem;
  border-radius: 20px;
  box-shadow: 2px 2px 12px lightgrey;
}
.art-resto:hover {
  box-shadow: 0px 7px 7px 0px rgba(53, 48, 24, 0.37);
}
.art-resto a {
  text-decoration: none;
}

.fig-resto {
  display: flex;
  flex-direction: column;
  position: relative;
}
.fig-resto .img-resto {
  object-fit: cover;
  height: 11rem;
  border-radius: 15px 15px 0 0;
}

.caption-resto {
  padding: 1rem;
}

.fig-menu {
  display: flex;
  margin: 0 0 0 auto;
  border: none;
  background-color: transparent;
}
.fig-menu .fa-heart {
  font-size: 1.5rem;
}
.fig-menu .fa-heart:hover {
  color: transparent;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  font-weight: bold;
  transition-duration: 1s;
}

.btn div {
  display: flex;
}

/*Les boutons Accueil*/
/*Le bouton explorer*/
.btn-explore {
  text-align: center;
  font-size: 1rem;
  color: white;
  border-radius: 2.1rem;
  padding: 1rem 1.2rem;
  border: none;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 7px 7px 0px rgba(51, 47, 23, 0.15);
  margin: auto;
}
.btn-explore:hover {
  opacity: 0.9;
  box-shadow: 0px 7px 7px 0px rgba(53, 48, 24, 0.37);
}

/* Les boutons fonctionnement*/
.btn-fonction {
  background-color: #f6f6f6;
  border: none;
  border-radius: 1.5rem;
  margin-bottom: 25px;
  box-shadow: 2px 2px 12px lightgrey;
  display: flex;
  padding: 1.5rem 1rem 1.5rem 0rem;
  align-items: baseline;
  width: 100%;
  text-decoration: none;
}
.btn-fonction:hover {
  box-shadow: 0px 7px 7px 0px rgba(53, 48, 24, 0.37);
}
.btn-fonction:hover {
  background-color: #f3e9ff;
}
.btn-fonction:hover .fa-store, .btn-fonction:hover .fa-mobile-alt, .btn-fonction:hover .fa-list-ul {
  color: #9356DC;
}
.btn-fonction:hover .fa-mobile-alt, .btn-fonction:hover .fa-list-ul {
  opacity: 1;
}
.btn-fonction .numero {
  background-color: #9356DC;
  border-radius: 2rem;
  color: white;
  height: 22px;
  width: 22px;
  font-size: 0.9rem;
  font-weight: 300;
  margin-right: 22px;
  margin-left: -15px;
  padding-top: 2.5px;
  padding-left: 7px;
}
.btn-fonction .fa-mobile-alt {
  font-size: 1.3rem;
  opacity: 0.5;
  color: black;
  margin-right: 8px;
}
.btn-fonction .titre-fonction {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
}

/*Les boutons Pages Menus*/
/*Les boutons entree plat dessert*/
.btn {
  background-color: white;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 12px lightgrey;
  width: 100%;
  padding: 0.8rem 1.5rem 0.8rem 0.5rem;
  margin: auto;
}
.btn:hover {
  box-shadow: 0px 7px 7px 0px rgba(53, 48, 24, 0.37);
}
.btn:hover {
  opacity: 0.9;
}

/*Le bouton commander*/
.btn-command {
  text-align: center;
  font-size: 1rem;
  color: white;
  border-radius: 2.1rem;
  padding: 1rem 1.2rem;
  border: none;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 7px 7px 0px rgba(51, 47, 23, 0.15);
  margin: 2rem auto;
  padding: 1rem 3rem;
  display: flex;
}
.btn-command:hover {
  opacity: 0.9;
  box-shadow: 0px 7px 7px 0px rgba(53, 48, 24, 0.37);
}

/*Les boutons j'aime-coeur*/
.btn-like {
  margin: 0 0 0 auto;
  border: none;
  background-color: transparent;
}
.btn-like .fa-heart {
  font-size: 1.5rem;
}
.btn-like .fa-heart:hover {
  color: transparent;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  font-weight: bold;
  transition-duration: 1s;
}

/*Pages Menus*/
.img-carte {
  display: flex;
  width: 100%;
  object-fit: center;
  z-index: 2;
}

.titre-resto {
  display: flex;
  align-items: baseline;
  margin: 0 0 1.7rem 0.3rem;
}
.titre-resto .fa-heart {
  font-size: 1.5rem;
}

.bloc-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu {
  padding: 30px 15px;
  border-radius: 2.2rem 2.2rem 0 0;
  background-color: #f6f6f6;
  margin-top: -2rem;
  position: relative;
  z-index: 1;
}

.menu-title {
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 3px solid #99E2D0;
  width: 2.5rem;
  padding-bottom: 0.3rem;
  margin: 1rem 0 0.8rem 0.3rem;
}

.img-note2 {
  z-index: 2;
  margin-top: -6rem;
}

.menu2 {
  margin-top: -9rem;
}

.entree, .plat, .dessert {
  width: 100%;
  padding-bottom: 1rem;
}

.entree form, .plat form, .dessert form {
  padding-bottom: 0.5rem;
}
.entree form:hover, .plat form:hover, .dessert form:hover {
  opacity: 0.8;
}

.btn-check {
  display: none;
}
.btn-check :hover {
  display: flex;
}

/*Etiquette nouveau*/
.new {
  padding: 0.4rem 0.7rem;
  background-color: #99E2D0;
  font-size: 0.9rem;
  font-weight: 700;
  color: #128667;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  border-radius: 0.15rem;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px 0 40px 25px;
}
footer .titre-ohmy {
  font-family: "Shrikhand";
  color: white;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 100;
  padding-bottom: 10px;
}
footer .foot {
  display: flex;
  padding-top: 10px;
  align-items: baseline;
}
footer .foot i {
  color: white;
  font-size: 0.8rem;
  padding-right: 10px;
}
footer .foot h3 {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

/*Breakpoints Accueil*/
/*tablet*/
@media screen and (min-width: 660px) and (max-width: 768px) {
  .decouverte a {
    margin: auto;
  }

  .bloc-btn {
    display: flex;
  }
  .bloc-btn .btn-2 {
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .art-bloc {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .art-resto {
    flex-direction: row;
    width: 44%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 260px;
  }
}
/*Laptop*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .decouverte .decouverte {
    padding-bottom: 20px;
  }
  .decouverte .decouverte div {
    margin: auto;
  }
  .decouverte a {
    margin-top: 5px;
    margin-left: 0px;
  }

  .sous-titre {
    padding-bottom: 10px;
  }

  .btn-explore {
    margin: auto;
  }

  .bloc-btn {
    display: flex;
  }
  .bloc-btn .btn-2 {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .bloc-btn a {
    margin: auto;
    width: 100%;
  }

  .art-bloc {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .art-resto {
    flex-direction: row;
    width: 45.9%;
    flex-direction: row;
    width: 44%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
  }
}
/*Laptop L*/  
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .decouverte .decouverte {
    padding-bottom: 20px;
  }
  .decouverte .decouverte div {
    margin: auto;
  }
  .decouverte a {
    margin-top: 5px;
    margin-left: 0px;
  }

  .sous-titre {
    padding-bottom: 10px;
  }

  .btn-explore {
    margin: auto;
  }

  .bloc-btn {
    display: flex;
  }
  .bloc-btn .btn-2 {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .bloc-btn a {
    margin: auto;
    width: 100%;
  }

  .menus {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .art-bloc {
    display: flex;
  }

  .art-resto {
    flex-direction: row;
    width: 22.1%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
  }

  .img-note {
    object-position: none;
  }
}
/*4K 1920px*/
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .decouverte .decouverte {
    padding-bottom: 20px;
  }
  .decouverte .decouverte div {
    margin: auto;
  }
  .decouverte a {
    margin-top: 5px;
    margin-left: 0px;
  }

  .sous-titre {
    padding-bottom: 10px;
  }

  .btn-explore {
    margin: auto;
  }

  .fonction {
    padding: 0 10rem 3rem 10rem;
  }

  .bloc-btn {
    display: flex;
  }
  .bloc-btn .btn-2 {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .bloc-btn a {
    margin: auto;
    width: 100%;
  }

  .menus h2 {
    margin-left: 8rem;
  }

  .art-bloc {
    display: flex;
    padding: 0 8rem 0 8rem;
  }

  .art-resto {
    flex-direction: row;
    width: 100%;
  }

  .menus {
    padding: 0 8rem 0 8rem;
  }
}
/*Breakpoints pages menus*/
/*Tablet-menus*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .img-carte {
    margin-top: -10rem;
  }

  .bloc-menu {
    margin: auto;
  }

  .menu {
    margin-top: -5rem;
  }

  .entree, .plat, .dessert {
    margin-right: 3rem;
    margin-left: 3rem;
    width: 100%;
  }

  .img-note2 {
    margin-top: -20rem;
  }

  .menu2 {
    margin-top: -13rem;
  }
}
/*Laptop-menus*/ 
@media screen and (min-width: 769px) and (max-width: 1920px) {
  .img-carte {
    margin-top: -13rem;
  }

  .menu {
    margin-top: -8rem;
  }

  .bloc-menu {
    flex-wrap: nowrap;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
  }

  .entree, .plat {
    padding-right: 2rem;
  }

  .img-note2 {
    margin-top: -32rem;
  }

  .menu2 {
    margin-top: -26rem;
  }
}
/*Laptop-4K-menus*/
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .img-carte {
    margin-top: -22rem;
  }

  .bloc-menu {
    flex-basis: auto;
  }

  .menu {
    margin-top: -14rem;
  }

  .img-note2 {
    margin-top: -45rem;
  }

  .menu2 {
    margin-top: -28rem;
  }
}
/*Laptop L-4K-menus*/
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .carte {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .img-note2 {
    margin-top: -48rem;
  }

  .menu2 {
    margin-top: -30rem;
  }
}
/*Breakpoints footer*/
/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 768px) {
  .foot-ohmy {
    display: flex;
  }
  .foot-ohmy .foot {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}
/*Laptop-4K*/
@media screen and (min-width: 769px) {
  .foot-ohmy {
    display: flex;
    width: 90%;
  }
  .foot-ohmy .foot {
    flex-direction: row;
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
