.btn-explore
  text-align: center
  background-color: $color-primary
  color: white
  border-radius: 2.1rem
  padding: 1rem 1.2rem
  font-size: 1rem
  border: none
  @include box-shadow

.btn-fonction
  background-color: $color-fond1
  border: none
  border-radius: 1.5rem
  margin-bottom: 25px
  @include box-shadow
  display: flex  
  padding: 1.5rem 1rem 1.5rem 0rem
  align-items: baseline
  width: 100%
  text-decoration: none
  & .numero
    background-color: $color-primary
    border-radius: 2rem
    color: white
    height: 22px
    width: 22px
    font-size: 0.9rem
    font-weight: 200
    margin-right: 20px
    margin-left: -10px
    padding-top: 2.5px
  & .fa-mobile-alt
    font-size: 1.3rem
    opacity: 0.5
    color: black
    margin-right: 8px
  & .titre-fonction
    color: black
    font-size: 1rem
    font-weight: 700
    margin-left: 30px