/*Les boutons Accueil*/
/*Le bouton explorer*/
.btn-explore
  @include btn-gradient

/* Les boutons fonctionnement*/
.btn-fonction 
  background-color: $color-fond1
  border: none
  border-radius: 1.5rem
  margin-bottom: 25px
  @include box-shadow
  display: flex  
  padding: 1.5rem 1rem 1.5rem 0rem
  align-items: baseline
  width: 100%
  text-decoration: none
  &:hover 
    background-color: rgb(243, 233, 255)
    & .fa-store, .fa-mobile-alt,  .fa-list-ul
      color: $color-primary
    & .fa-mobile-alt,  .fa-list-ul
      opacity: 1
  & .numero
    background-color: $color-primary
    border-radius: 2rem
    color: white
    height: 22px
    width: 22px
    font-size: 0.9rem
    font-weight: 200
    margin-right: 20px
    margin-left: -10px
    padding-top: 2.5px
  & .fa-mobile-alt
    font-size: 1.3rem
    opacity: 0.5
    color: black
    margin-right: 8px
  & .titre-fonction
    color: black
    font-size: 1rem
    font-weight: 700
    margin: auto

/*Les boutons Pages Menus*/
/*Les boutons entree plat dessert*/
.btn
  @include btn-menu

/*Le bouton commander*/
.btn-command
  @include btn-command

/*Les boutons j'aime-coeur*/
.btn-like
  @include btn-like
