/*Section restaurants*/
.menus
  background-color: $color-fond1
  padding: 0 0 50px 0
  & h2
    padding: 50px 0px 25px 20px
.art-resto
  background-color: white
  margin: 0 1.3rem 1.3rem 1.3rem
  border-radius: 20px
  @include box-shadow
  & a
    text-decoration: none
.fig-resto
  display: flex
  flex-direction: column
  position: relative
  & .img-resto
    object-fit: cover
    height: 11rem
    border-radius: 15px 15px 0 0
.caption-resto
  padding: 1rem
.fig-menu
  display: flex
  @include btn-like
 
    
      
      
       
      
      
      
      
          
        
        