body
  font-family: 'Roboto', sans-serif
h1, h2, h3, p, .fas, .far
  color: black

/*Typo Pages menus*/
.titre-resto h2 
  font-family: 'Shrikhand'
  font-size: 1.7rem
  font-weight: 100
  font-style: italic
.titre-p
  font-size: 1.1rem
  font-weight: 600
  text-align: start
  padding: 0 3px 3px 3px
.soustitre-p
  text-align: start
  font-size: 0.95rem
  font-weight: 100
  padding-left: 3px
  display: flex
strong
  margin-left: auto


