body
  font-family: 'Roboto', sans-serif
h1, h2, h3, p, .fas, .far
  color: black

/*Typo Pages menus*/
.titre-resto 
  font-family: 'Shrikhand'
  font-size: 1.1rem
  font-weight: 100
  font-style: italic
.titre-p
  font-size: 1.1rem
  font-weight: 600
  text-align: start
  padding-left: 5px
  padding-bottom: 5px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  flex-direction: row
.soustitre-p
  text-align: start
  font-size: 0.95rem
  font-weight: 300
  padding-left: 5px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display: flex
strong
  display: flex
  margin-left: auto
  flex-wrap: nowrap




