body
  font-family: 'Roboto', sans-serif

h1, h2, h3, p, .fas, .far
  color: black

/*typo pages menu*/
.titre-resto h2 
  font-family: 'Shrikhand'
  font-size: 1.7rem
  font-weight: 100
  font-style: italic

.titre-menu
  @extend titre-carte

    

