.localisation
  background-color: $color-fond2
  box-shadow: inset 0px 4px 4px -3px rgba(53, 53, 53, 0.29)
  
/*Section présentation*/
/*découverte*/
.decouverte
  display: flex
  flex-wrap: wrap
  padding: 40px 0 50px 0
  background-color: $color-fond1
  & h1
    font-weight: 700
    font-size: 1.5rem
    text-align: center
    margin: auto
    padding: 0 50px 10px 50px
  & .sous-titre
    text-align: center
    margin: auto
    padding: 0 30px 30px 30px
    font-weight: 100
    font-size: 1.1rem
  & a
    margin: auto

/*fonctionnement*/
.fonction
  padding: 0 20px 50px 30px
  & h2
    padding: 50px 0px 25px 0
  & a
    text-decoration: none
    &:hover
      background-color: rgba(147, 86, 220, 0.3)

.fa-list-ul
  font-size: 1.3rem
  opacity: 0.5
  color: black

.fa-store
  font-size: 1rem
  color: rgba(0,0,0,0.5)
  &:hover
    color: $color-primary

/*Breakpoint tablet*/
@media screen and (min-width: 600px) and (max-width:768px)
  .decouverte div 
    margin: auto
  .bloc-btn
    display: flex
    & .btn-2
      margin-right: 1.7rem
      margin-left: 1.7rem
  .art-bloc
    display: flex
    flex-wrap: wrap
    margin-left: 2rem
    margin-right: 2rem
  .art-resto
    margin: auto
    flex-grow: 1
    flex-shrink: 0
    flex-basis: 150px
    .img-note
      object-position: bottom
  .foot-ohmy
    display: flex
    .foot
      flex-direction: row
      width: 100%
      justify-content: center
      
/*Breakpoint Laptop*/
@media screen and (min-width: 769px) and (max-width: 1024px)
  .decouverte
    padding-bottom: 20px
    & div 
      margin: auto
    & a 
      margin-top: 10px 
  .sous-titre
    padding-bottom: 10px
  .btn-explore
    margin: auto
  .bloc-btn
    display: flex
    & .btn-2
      margin-right: 2rem
      margin-left: 2rem
    & a 
      margin: auto
      width: 100%
  .art-bloc
    display: flex
    flex-wrap: wrap
    margin: auto  
  .art-resto
    flex-direction: row
    width: 45.9% 
  .foot-ohmy
    display: flex
    & .foot
      flex-direction: row
      width: 100%

/*Breakpoint Laptop L*/  
@media screen and (min-width: 1025px) and (max-width: 1440px)
  .decouverte
    padding-bottom: 20px
    & div 
      margin: auto
    & a 
      margin-top: 10px 
  .sous-titre
    padding-bottom: 10px
  .btn-explore
    margin: auto
  .bloc-btn
    display: flex
    & .btn-2
      margin-right: 2rem
      margin-left: 2rem
    & a 
      margin: auto
      width: 100%
  .menus
    padding-right: 2rem
    padding-left: 2rem
  .art-bloc
    display: flex
  .art-resto
    flex-direction: row
    width: 22.1%
  .foot-ohmy
    display: flex
    width: 80%
    & .foot
      flex-direction: row
      width: 50%

/*Breakpoint 4K 1920px*/
@media screen and (min-width: 1441px) and (max-width:1920px)
  .decouverte
    padding-bottom: 20px
    & div 
      margin: auto
    & a 
      margin-top: 10px
      margin-left: 0rem
  .sous-titre
    padding-bottom: 10px
  .fonction
    padding: 0 10rem 3rem 10rem
  .bloc-btn
    display: flex
    & .btn-2
      margin-right: 5rem
      margin-left: 5rem
    & a 
      margin: auto
      width: 100%
  .menus h2 
    margin-left: 8rem
  .art-bloc
    display: flex
    padding: 0 8rem 0 8rem
  .art-resto
    flex-direction: row
    width: 100%
  .menus
    padding: 0 8rem 0 8rem
  .foot-ohmy
    display: flex
    width: 80%
    & .foot
      flex-direction: row
      width: 50%