/*Pages Menus*/
.img-carte
  @include image-carte
  z-index: 2  
.titre-resto
  @include titre-resto
.bloc-menu 
  display: flex
  flex-wrap: wrap
  width: 100%
.menu
  @include figcaption-menu
  margin-top: -2rem
  position: relative
  z-index: 1 
.menu-title
  @include menu-title
.img-note2
  z-index: 2
  margin-top: -6rem
.menu2
  margin-top: -9rem 
.entree, .plat , .dessert
  width: 100%
  padding-bottom: 1rem
.entree form, .plat form, .dessert form
  padding-bottom: 1rem
  &:hover
    opacity: 0.8

.btn-check
  display: none
  & :hover
    display: flex
  
  
  
  
  


 


