@keyframes hover-check
  0%
    transform: translateX(50px) 
  100%
    transform: translateX(-0px)  
 
    
@keyframes icon-check
  0% 
    transform: rotate(0deg) 
  100% 
    transform: rotate(360deg) 
    
    
@keyframes anim-load
  from
    color: #9356DC
    text-shadow: 0 0 0.13em #9356DC
  to
    color: #FF79DA
    text-shadow: 0 0 0.13em #FF79DA  


@keyframes load-time 
  0%
    opacity: 1
  95%
    opacity: 1
  100%
    opacity: 0 
     
    
@keyframes anim-menu
  0%
    opacity: 0
  100%
    opacity: 1
    
