@mixin box-shadow
  box-shadow: 2px 2px 12px lightgrey

@mixin gradient-color
  background: linear-gradient(to top ,$color-primary, $color-secondary)

@mixin icon-coeur
  font-size: 1.5rem
  font-weight: 100
  margin: 0.3rem 0.5rem 0 auto

